.productCardWrapper {
  border: solid 1px rgb(91, 94, 91);
  height: 650px;
  width: 500px;
  background-color: rgba(231, 241, 232, 0.3);
}

.decisionButtonWrapper {
  display: flex;
  justify-content: space-between;
}

.decisionButtonWrapper button {
  padding: 5px;
  border-radius: 10px;
}

.imgPicsum {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
