.navigationWrapper {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.appName{
  display: flex;
}

.appName a { 
  width: auto;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Hanalei', cursive;
  font-weight: 500;
  font-size: 2.8rem;
/*   color: rgb(14, 59, 34);
 */color: rgb(14, 36, 24);

 display: inline-block;
}

@media (max-width: 550px) {
  .appName a{
    font-size: 2rem;
  }
}