.navigationWrapper {
/*   background: #b5d5b1;*/
   background-color: #deebdd;
  background-image: linear-gradient(315deg, #79cc83 0%, #485e50 56%);
  height: 60px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
/*   border-bottom: 1px solid rgb(87, 124, 87); */
/*   position: fixed;
  width: 100%; */
}

/*
--charcoal: #233d4dff;
--pumpkin: #fe7f2dff;
--sunglow: #fcca46ff;
--olivine: #a1c181ff;
--polished-pine: #619b8aff 
 */

.appName{
  display: flex;
  justify-content: center;
}

.appName a { 
  width: auto;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Hanalei', cursive;
  font-weight: 500;
  font-size: 2.8rem;
/*   color: rgb(14, 59, 34);
 */color: rgb(14, 36, 24);

 display: inline-block;
}

@media (max-width: 550px) {
  .appName a{
    font-size: 2rem;
  }
}